{% load static %}
<!doctype html>
<html lang="en">
<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		{% block title %}
		{% endblock %}
	</title>



	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static "app/bootstrap-4.4.1-dist/css/bootstrap-cosmo.min.css" %}">
	<link rel="stylesheet" href="{% static "app/main.css" %}">

	<!-- DataTables CSS  -->
	<link rel="stylesheet" href="{% static "app/DataTables/jquery.dataTables.min.css" %}">
	<link rel="stylesheet" href="{% static "app/DataTables/dataTables.bootstrap4.min.css" %}">

	{% block includecss %}
	{% endblock %}

</head>

<body>

	{% include "app/navbar.html" %}





		{% block content %}
		CONTENT BLOCK
		{% endblock %}





	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{% static "app/js/jquery-3.4.1.min.js" %}"></script>
	<script src="{% static "app/js/popper.min.js" %}"></script>

	<script src="{% static "app/bootstrap-4.4.1-dist/js/bootstrap.min.js" %}"></script>

	<!-- DataTables  -->
	<script src="{% static "app/DataTables/jquery.dataTables.min.js" %}"></script>

	{% block includejs %}
	{% endblock %}

</body>


</html>